/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : May 18, 2022, 7:36:30 PM
    Author     : Nikko
*/

#header {
    background-color: #343c63;
    height: 400px;
 
}

.main-nav {
    display: flex;
    padding: 0px 100px 0px 100px;
    list-style: none;
}


.main-nav li:first-child {
    margin-right: auto;
}

.main-nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
}

#header-content {
   display: inline-flex;
   justify-content: center;
   width: 90%;
   padding-top: 100px;
   padding-left: 100px;
   padding-right: 100px;
}

#text-1 {
    
    width: 50%;
}

#image-1 {
  display: flex;
  align-items: center;
  justify-content:  center;

  background-color: grey;
  width: 40%;
}

#Sign-up {
    background-color: blue;
   color: white;
   border-radius: 10px;
}

.box-1 {
    display: flex;
    justify-content: center;
    
   
}

.box-2 {
   
}

.rect-1 {
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.rect-2 {
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.rect-3 {
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.rect-4 {
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.block-6 {
    display: flex;
    justify-content: center;
   gap: 60px
    
}
