/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Apr 8, 2022, 11:44:04 PM
    Author     : Nikko
*/


#center {
    width: 75%;
    margin: auto;
       
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;


}

#Title {
    font-family: georgia,serif;
   font-weight: bolder;
   
}

#logo {
       justify-content: center;
    
}

/* Add a black background color to the top navigation */
.navbar {

  background-color: #333;    

}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden;
 
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
   
}

/* Add an active class to highlight the current page */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
  display: none;
  
}

.navbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

 a:visited {
    color: cornflowerblue;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 50%;

}

/* Hide the images by default */
.mySlides {
  display: none;
  
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

#bodyContent {
    display: flex;
    justify-content: space-between;
    
}

#bodyText {
  float: left;
  display: block;
 
}

#h1-div {
    color: black;
    display: flex;
    justify-content: center;
}
#right-content-center {
    display: flex;
    justify-content: center;
 
 }  
  
 #shopify {
     display: flex;
     justify-content: center;
 }
 
#footer {
    display: flex;
    justify-content: space-between;
    
   height: 75px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: white;
}

#footer-logo {
    display: flex;
    align-items: center;
}

#footer-links {
    display: flex;
    align-items: center;
}

#textfooter {
    display: flex;
    align-items: center;
}

#subscribe {
   overflow: hidden;
 
}

#payments {
    display: flex;
    justify-content: center;
}